<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Notes App</strong> developed by <a href="https://jgthms.com">Harold Villalobos</a>.
        </p>
    </div>
</footer>