@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";

$sky-color: #36D1DC;
$violet-color: #5B86E5;

body {
    background: $sky-color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $violet-color, $sky-color);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $violet-color, $sky-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

